
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}
img {
    display: block;
}


body {
    margin: 0;
    padding: 0;
    font-family: Karla, sans-serif;
}

.container{
    width: 100%;
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;;
}

.header-list{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}


.header-link{
    margin: 0;
    color: #837D88;
    text-align: center;
    font-family: Karla;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}
.header-link:hover {
    color: #2C2830;
}

.header-btn{
    margin: 0;
    color: #2C2830;
    text-align: center;
    font-family: Karla;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    border: 1.5px solid #2C2830;
    background: #FFF;
    padding: 13px 28px 13px 28px;
    transition: 0.3s;
}

.header-btn:hover {
    background: #2C2830;
    color: #FFF;
}
.hero{
    background-color: #2d2641;
    padding-top: 105px;
    padding-bottom: 127px;
}
.top-box{
    width: 105px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 63px;
}
.hero-child-box{
    width: 540px;
}

.hero-title{
    margin: 0;
    margin-bottom: 16px;
    color: #FFF;
font-family: DM Serif Display;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 88.889% */
letter-spacing: -1px;
}

.hero-text{
    color: #FFF;
font-family: Karla;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 24px;
}

.hero-btn {
    color: #FFF;
text-align: center;
font-family: Karla;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.5px;
background-color: transparent;
background: #2D2641;
padding: 13px 28px 13px 28px;
transition: 0.3s;
border: 1.5px solid #FFF;
}

.hero-btn:hover {
    border: 1.5px solid #FFF;
    background: #FFF;
    color: #2C2830;
}

.hero-box {
    display: flex;
}

.hero-img{
    position: absolute;
    left: 980px;
}

.different-section {
    padding-top: 305px;
    padding-bottom: 158px;
}

.different-top-box {
width: 150px;
height: 1px;
background: #C396C6;
}

.different-title {
    color: #2C2830;
font-family: DM Serif Display;
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: 64px; /* 88.889% */
letter-spacing: -1px;
margin-bottom: 96px;
}

.different-list {
    display: flex;
    list-style: none;
    padding: 0;
}
.different-img {
    margin-bottom: 32px;
}

.differnt-list-title {
    color: #2C2830;
font-family: DM Serif Display;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.389px;
margin-bottom: 16px;
}

.differnt-list-title {
    color: #837D88;
font-family: Karla;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

.differnt-title {
    width: 350px;
}

.work-section {
    padding-bottom: 150px;
}


.work-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 250px;
    background: #2D2641;
    padding: 69px 80px 69px 80px;
}

.work-title {
    width: 475px;
    margin: 0;
    color: #FFF;
font-family: DM Serif Display;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 56px; /* 100% */
letter-spacing: -0.778px;
}

.work-btn {
    color: #FFF;
text-align: center;
font-family: Karla;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.5px;
border: 1.5px solid #FFF;
padding: 13px 24px 13px 24px;
background-color: transparent;
transition: 0.3s;
}

.work-btn:hover {
    border: 1.5px solid #FFF;
background: #FFF;
color: #2C2830;
}
.site-footer {
    background: #FAFAFA;
    padding: 67px;
    padding-bottom: 64px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-list {
    padding: 0;
    list-style: none;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;

}

.footer-text {
    color: #837D88;
    font-family: Karla;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    margin-bottom: 36px;
}

.footer-link {
display:block;
color: #2D2641;
font-family: Karla;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.5px;
margin-bottom: 16px;
text-decoration: none;
}